i {
    font-size:16px;
}

.nav > li > a {
    color:#787878;
}

footer {
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;
    background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
    position: absolute;
    bottom: 12px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    background: rgba(51,200,51,0.55);
    color: rgba(255,255,255,0.9);
    line-height: 1em;
    padding: 2px 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
    margin-left:10px;
    padding:8px;
}

#menuTabela a{
    color: #fff;
}

.selecionada{
    background-color: rgba(28, 126, 226, 0.2);
}

.table i{
    margin-right: 5px;
}

.table{
    color: #333;
}



.table a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.table a:hover {
    text-decoration: underline; 
}

#menuSelecao i, #menuSelecao img{
    margin-left: 10px;
    margin-right: 5px;
    vertical-align:text-top;
}

#menuSelecao a{
    color: black;
}

.navbar-static-top {
    margin-bottom:20px;
}

#top-nav{
    border: 0px;
 }

.navbar-inner{  
    background-color: #fff;
}

.nav-inferior{
margin-top: 30px;
}
